<!--@todo: add or remove links to static pages-->
<div class="main-menu">
  Event Locations <br/>
  <a href="{{@blog.url}}/sydney/">Sydney</a><br/>
  <a href="{{@blog.url}}/melbourne/">Melbourne</a><br/>
  <a href="{{@blog.url}}/austin/">Austin, TX</a><br/>
  <br/>
  Links <br/>
  <a href="{{@blog.url}}/press/">Press</a><br/>
  <a href="{{@blog.url}}/sponsors/">Sponsors</a><br/>
  <a href="{{@blog.url}}/how-to-run-your-own-event/">How to run your own event</a><br/>
</div> 